<div class="row">

  <div class="col-md-3">
  </div>

  <div class="col-md-6">
    <h2 class="text-center">Your Connections</h2>
  </div>

  <div class="col-md-3">
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Github Handle</th>
        <th scope="col">Twitter Handle</th>
        <th scope="col">LinkedIn Handle</th>
      </tr>
    </thead>
  <tbody>

    <% @connections.each do |connection| %>
    <tr class="connection">
      <th><%= connection.scanned_user.first_name %></th>
      <th><%= connection.scanned_user.last_name %></th>
      <th><%= connection.github_handle.name%></th>
      <th><%= connection.twitter_handle.name%></th>
      <th><%= connection.linkedin_handle.name%></th>
      <% end %>
    </tr>
    
  </tbody>
  </table>
</div>
