<p><%= @connection.scanned_user.first_name %></p><br>
<p><%= @connection.scanned_user.last_name %></p><br>
<p><%= @connection.github_handle.name %></p><br>
<p><%= @connection.twitter_handle.name %></p><br>
<p><%= @connection.linkedin_handle.name %></p><br>
