<p><%= @connection.scanned_user.first_name %></p><br>
<p><%= @connection.scanned_user.last_name %></p><br>
<div class="github-handle"><%= @connection.github_handle.name %>
  <% @github_events.each  do |github_event|%>
  <div class="github-event">
  Event Type: <%= github_event.type %>
  Repo: <%= github_event.repo %>
  Date of Event: <%= github_event.date %>
</div>
<% end  %>
</div><br>

<div class="twitter-handle">
  <%= @connection.twitter_handle.name %><br>
  <div class="twitter-tweet">
    Tweet: <%= @recent_tweet.text %>
    Date: <%= @recent_tweet %>
  </div>
</div>

<p><%= @connection.linkedin_handle.name %></p><br>

<%= link_to "Delete Connection", connection_path(@connection), method: :delete %>
