<div class="form">
<%= form_for [:user, @handle] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.select :handle_type_id, HandleType.all.collect { |h| [ h.name, h.id ] }, include_blank: false %>

  <%= f.submit "Submit" %>
<% end %>
</div>
