<!DOCTYPE html>
<html>
  <head>
    <title>LettuceConnect</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'root', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
      <ul class="nav justify-content-center text-center">
        <li class="nav-item">
        <div class="nav-link badge badge-light"><%= link_to "Home", root_path%></div>
        </li>
      <% if current_user %>
          <li class="nav-item">
          <div class="nav-link badge badge-light"><%= link_to "Logout", logout_path, method: :delete %></div>
          </li>
          <li class="nav-item">
            <div class="nav-link badge badge-light"><%= link_to "Connections", connections_path %></div>
          </li>
          <li class="nav-item">
            <div class="nav-link badge badge-light"><%= link_to "Add Handle", new_user_handle_path(current_user) %></div>
          </li>
          <li class="nav-item">
            <div class="nav-link badge badge-light"><%= link_to "Manage Handles", user_handles_path(current_user) %></div>
          </li>
        <% else %>
        <li class="nav-item">
          <div class="nav-link badge badge-light"><%= link_to "Login", login_path %> </div>
        </li>
        <li class="nav-item">
          <div class="nav-link badge badge-light"><%= link_to "Register", new_user_path %> </div>
        </li>
        <% end %>
      </ul>
  </nav>
  <% if flash.count > 0  %>
    <div class="center-block" style= "width: 15rem;">
    <div class="alert alert-primary alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  <% end %>
  <% flash.each do |type, message| %>
    <%= content_tag :alert, raw(message), class: type %>
  <% end %>
    </div>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
